<h2 class="text-2xl font-bold mb-6">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :email, 'Email', class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="relative mb-4" data-controller="password-toggle">
    <%= f.label :password, 'Password', class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <% if @minimum_password_length %>
    <em class="text-xs text-gray-600">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10', data: { "password-toggle-target": "password" } %>

    <span class="password-toggle absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer" data-action="click->password-toggle#toggle">
      <!-- Show Password Icon -->
      <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium" focusable="false" aria-hidden="true" viewBox="0 0 24 24" width="24" height="24" fill="#000000" data-password-toggle-target="toggleIcon" data-icon-type="show">
        <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5M12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5m0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3"></path>
      </svg>
      <!-- Hide Password Icon -->
      <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium hidden" focusable="false" aria-hidden="true" viewBox="0 0 24 24" width="24" height="24" fill="#000000" data-password-toggle-target="toggleIcon" data-icon-type="hide">
        <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7M2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2m4.31-.78 3.15 3.15.02-.16c0-1.66-1.34-3-3-3z"></path>
      </svg>
    </span>
  </div>

  <div class="relative mb-4" data-controller="password-toggle">
    <%= f.label :password_confirmation, 'Confirm Password', class: 'block text-gray-700 text-sm font-bold mb-2' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10', data: { "password-toggle-target": "password" } %>

    <span class="password-toggle absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer" data-action="click->password-toggle#toggle">
      <!-- Show Password Icon -->
      <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-password-toggle-target="toggleIcon" data-icon-type="show">
        <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5M12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5m0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3"></path>
      </svg>
      <!-- Hide Password Icon -->
      <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium hidden" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-password-toggle-target="toggleIcon" data-icon-type="hide">
        <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7M2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2m4.31-.78 3.15 3.15.02-.16c0-1.66-1.34-3-3-3z"></path>
      </svg>
    </span>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
