<!-- app/views/admin/dashboard/index.html.erb -->
<div class="admin-dashboard max-w-4xl mx-auto my-10">
  <h1 class="text-4xl font-bold text-center mb-10">Admin Dashboard</h1>

  <div class="stats grid grid-cols-1 md:grid-cols-3 gap-4 mb-10">
    <div class="stat bg-blue-100 p-4 rounded-lg shadow">
      <%= link_to admin_users_path, class: 'text-xl block' do %>
        Total Users: <%= @total_users %>
      <% end %>
    </div>
    <div class="stat bg-green-100 p-4 rounded-lg shadow">
      <p class="text-xl">Total Posts: <%= @total_posts %></p>
    </div>
    <div class="stat bg-red-100 p-4 rounded-lg shadow">
      <%= link_to "#", class: 'text-xl block', style: "pointer-events: none; cursor: default;" do %>
        Pending Reports: <%= @total_pending_reports %>
      <% end %>
    </div>
  </div>

  <div class="recent-activity space-y-6">
    <div class="stat bg-purple-100 p-4 rounded-lg shadow">
      <%= link_to 'Manage All Posts', admin_posts_path, class: 'text-xl' %> (<%= @total_posts %>)
    </div>


    <div>
      <h2 class="text-2xl font-semibold mb-3">Recent Comments</h2>
      <ul class="list-disc list-inside bg-white p-4 rounded-lg shadow">
        <% @recent_comments.each do |comment| %>
          <li class="mb-2"><%= comment.content %> (by <%= link_to comment.user.email, [:admin, comment.user], class: "text-blue-500 hover:text-blue-700" %>)</li>
        <% end %>
      </ul>
    </div>

    <div>
      <h2 class="text-2xl font-semibold mb-3">Recent Signups</h2>
      <ul class="list-disc list-inside bg-white p-4 rounded-lg shadow">
        <% @recent_users.each do |user| %>
          <li class="mb-2"><%= link_to user.email, [:admin, user], class: "text-blue-500 hover:text-blue-700" %></li>
        <% end %>
      </ul>
    </div>

    <div>
      <h2>User Signups</h2>
      <%= line_chart @monthly_signups %>
    </div>

    <div>
      <h2>Monthly Visitors</h2>
      <%= line_chart @monthly_visitors %>
    </div>

    <div>
      <h2>Donations mensuelles</h2>
      <%= line_chart @weekly_donations  %>
    </div>

    <div>
      <h2>Most Viewed Posts</h2>
      <ul>
        <% @most_viewed_posts.each do |post| %>
          <li><%= post.title %>: <%= post.post_views.count %> views</li>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- app/views/admin/dashboard/index.html.erb -->
  <div class="donations-section">
    <h2 class="text-2xl font-semibold mb-3">Tous les dons (<%= @total_donations %>)</h2>

    <table class="min-w-full bg-white">
      <thead>
        <tr>
          <th class="py-2 px-4">Utilisateur</th>
          <th class="py-2 px-4">Montant</th>
          <th class="py-2 px-4">Date</th>
          <th class="py-2 px-4">Statut</th>
        </tr>
      </thead>
      <tbody>
        <% @donations.each do |donation| %>
          <tr>
            <td class="border px-4 py-2"><%= link_to donation.user.email, admin_user_path(donation.user) %></td>
            <td class="border px-4 py-2"><%= donation.amount %> €</td>
            <td class="border px-4 py-2"><%= donation.created_at.strftime("%d %B %Y") %></td>
            <td class="border px-4 py-2"><%= donation.status.capitalize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
