<div class="container mx-auto mt-6">
  <div class="my-5 w-[17rem]">
    <select id="departmentSelector" class="department-choice" onchange="dispatchDepartmentChangeEvent(this.value)">
      <option value="">Select a Department</option>
      <optgroup label="Métropole">
        <% FrenchGeography::EUROPEAN_DEPARTMENTS.each do |code, name| %>
          <option value="<%= code %>"><%= name %></option>
        <% end %>
      </optgroup>
      <optgroup label="DOM-TOM">
        <% FrenchGeography::NON_EUROPEAN_DEPARTMENTS.each do |code, name| %>
          <option value="<%= code %>"><%= name %></option>
        <% end %>
      </optgroup>
    </select>
</div>




<div class="flex items-center justify-center">
  <div data-controller="maps"
      data-maps-access-token-value="pk.eyJ1IjoiZnJhbmNpbG9iYmllIiwiYSI6ImNsdG9nMHRpczBkbXEyanJxd3FsdXRseWcifQ.WflobD8GNh2VbXYo2gS5Vw"
      data-maps-map-style-value="mapbox://styles/mapbox/streets-v11"
      data-maps-company-counts-value="<%= @company_counts.to_json %>"
      id="map" style="width: 800px; height: 620px;">
  </div>
</div>



  <div>
    <h1 class="text-2xl font-bold">Companies</h1>
    <ul>
      <% @companies.each do |company| %>
        <li><%= company.name %> - <%= company.city %></li>
      <% end %>
    </ul>
  </div>
</div>

<script>
    function dispatchDepartmentChangeEvent(departmentCode) {
    const event = new CustomEvent('departmentChange', { detail: { code: departmentCode } });
    document.dispatchEvent(event);
  }

  document.addEventListener('DOMContentLoaded', function() {
    const element = document.querySelector('.department-choice');
    const choices = new Choices(element, {
        searchEnabled: true,
        shouldSort: false,
        placeholder: true,
        placeholderValue: 'Select a Department',
        itemSelectText: '',
        searchPlaceholderValue: 'Search departments...'
    });
});

</script>
