<%# app/views/likes/_like.html.erb %>
<div id="<%= dom_id(likeable, :likes) %>">
  <% liked = current_user && likeable.likes.exists?(user: current_user) %>

  <% if likeable.is_a?(Comment) %>
    <% if liked %>
      <%= button_to post_comment_like_path(likeable.post, likeable, likeable.likes.find_by(user: current_user)),
                    method: :delete,
                    data: { turbo_frame: "_top", turbo_action: "advance" },
                    class: 'inline-flex items-center px-4 py-2' do %>
        <i class="fa-solid fa-thumbs-up text-xl text-blue-500"></i> <!-- Filled thumb for liked -->
      <% end %>
    <% else %>
      <%= button_to post_comment_likes_path(likeable.post, likeable),
                    method: :post,
                    data: { turbo_frame: "_top", turbo_action: "advance" },
                    class: 'inline-flex items-center px-4 py-2' do %>
        <i class="fa-regular fa-thumbs-up text-xl"></i> <!-- Outline thumb for not liked -->
      <% end %>
    <% end %>
  <% else %>
    <% if liked %>
      <%= button_to post_like_path(likeable, likeable.likes.find_by(user: current_user)),
                    method: :delete,
                    data: { turbo_frame: "_top", turbo_action: "advance" },
                    class: 'inline-flex items-center px-4 py-2' do %>
        <i class="fa-solid fa-heart text-2xl text-red-500"></i> <!-- Filled thumb for liked -->
      <% end %>
    <% else %>
      <%= button_to post_likes_path(likeable),
                    method: :post,
                    data: { turbo_frame: "_top", turbo_action: "advance" },
                    class: 'inline-flex items-center px-4 py-2' do %>
        <i class="fa-regular fa-heart text-2xl"></i> <!-- Outline thumb for not liked -->
      <% end %>
    <% end %>
  <% end %>
  <span class="text-gray-600"><%= likeable.likes.count %> <%= "J'aime" %></span>
</div>
