<%= form_with(model: @post, class: "", local: true) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.rich_text_area :body, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list %>
  </div>


  <div class="actions">
    <% if action_name == "new" %>
      <%= f.submit "Create", class: "btn btn-primary" %>
    <% elsif action_name == "edit" %>
      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
