<div>
  <h2 class="text-3xl font-bold mb-4"><%= post.title %></h2>
    <p class="text-gray-800 text-base mb-4"><%= post.body %></p>
    <div class="mb-6">
      <strong>Tags:</strong>
      <% post.tags.each do |tag| %>
        <span class="inline-block bg-orange-400 rounded-full ml-2 px-3 py-1 text-sm font-semibold text-white cursor-pointer">
          <%= tag.name %>
        </span>
        <% if can? :destroy, tag %>
          <%= link_to "delete", tag_path(tag), method: :delete, data: { confirm: "Are you sure?" }, class: "text-xs bg-red-500 text-white rounded-full px-3 py-1 ml-2" %>
        <% end %>
      <% end %>
    </div>
    <div class="flex justify-between items-start">
      <div>
        <% if can? :update, post %>
          <%= link_to "Edit", edit_post_path(post), class: "inline-block bg-blue-500 text-white rounded-full px-4 py-2" %>
        <% end %>
        <% if can? :destroy, post %>
          <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class: "inline-block bg-red-500 text-white rounded-full px-4 py-2 ml-2" %>
        <% end %>
        <%= link_to 'Report', new_report_path(reportable_id: post.id, reportable_type: 'Post'), class: "inline-block bg-yellow-500 text-white rounded-full px-4 py-2 ml-2" %>
      </div>
    </div>
</div>
