<!-- app/views/admin/users/index.html.erb -->
<div class="max-w-7xl mx-auto py-8" data-controller="admin-sorting">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-4xl font-bold text-gray-800">Users Management</h1>
    <%= link_to 'Back to Dashboard', admin_root_path, class: "inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>

  <!-- Search Form -->
  <div class="relative mb-6" data-controller="admin-sorting">
    <%= form_with url: admin_users_path, method: :get, local: true, class: "flex" do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search users...", class: "w-full px-4 py-2 border rounded-l-lg focus:outline-none focus:ring-2 focus:ring-blue-600", data: { admin_sorting_target: "input", action: "keyup->admin-sorting#search" }, id: "search-input" %>

      <!-- Clear Button -->
      <button type="button" class="absolute inset-y-0 right-16 flex items-center pr-12" data-action="click->admin-sorting#clearSearch" data-admin-sorting-target="clear" id="clear-search">
        &#10005; <!-- Unicode for X -->
      </button>

      <%= submit_tag "Search", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r-lg" %>
    <% end %>

    <div id="search-results" class="absolute left-0 right-0 mt-1 bg-white shadow-lg rounded-lg hidden" data-admin-sorting-target="results">
      <ul class="divide-y divide-gray-200">
        <!-- This will be dynamically filled with search results -->
      </ul>
    </div>
  </div>



  <!-- Statistics -->
  <div class="stats grid grid-cols-1 sm:grid-cols-4 gap-4 mb-10">
    <div class="stat bg-blue-100 p-4 rounded-lg shadow hover:shadow-md transition cursor-pointer">
      <%= link_to admin_users_path, class: 'text-xl block' do %>
        Total Users: <%= @total_users %>
      <% end %>
    </div>
    <div class="stat bg-green-100 p-4 rounded-lg shadow hover:shadow-md transition">
      Total Admins: <%= @total_admins %>
    </div>
    <div class="stat bg-red-100 p-4 rounded-lg shadow hover:shadow-md transition">
      Total Writers: <%= @total_writers %>
    </div>
    <div class="stat bg-yellow-100 p-4 rounded-lg shadow hover:shadow-md transition">
      Total Moderators: <%= @total_moderators %>
    </div>
  </div>


  <!-- User Table -->
  <div class="mt-10 overflow-x-auto bg-white p-6 rounded-lg shadow">
    <h2 class="text-3xl font-bold text-gray-800 mb-4">Total Users</h2>
    <div class="flex justify-between">
      <div>
        <a href="#" data-action="admin-sorting#sort" data-sorting-key="user_date_asc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Date Asc</a>
        <a href="#" data-action="admin-sorting#sort" data-sorting-key="user_date_desc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Date Desc</a>
        <a href="#" data-action="admin-sorting#sort" data-sorting-key="user_email_asc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Email Asc</a>
        <a href="#" data-action="admin-sorting#sort" data-sorting-key="user_email_desc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded">Email Desc</a>
      </div>
      <%= link_to 'Create New User', new_admin_user_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
    <div class="overflow-x-auto bg-white p-6 rounded-lg shadow" id="users_table" data-sorting-target="table">
      <table class="min-w-full table-auto">
        <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
          <tr>
            <th class="py-3 px-6 text-left">ID</th>
            <th class="py-3 px-6 text-left">Email</th>
            <th class="py-3 px-6 text-center">Account Created On</th>
            <th class="py-3 px-6 text-center">Posts</th>
            <th class="py-3 px-6 text-center">Comments</th>
            <th class="py-3 px-6 text-center">Suspended</th>
            <th class="py-3 px-6 text-center">Actions</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
          <% @users.each do |user| %>
            <tr class="<%= 'bg-red-100 hover:bg-red-200' if user.suspended? %> border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <%= user.id %>
              </td>
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <%= link_to user.email, [:admin, user], class: "text-blue-600 hover:underline" %>
              </td>
              <td class="py-3 px-6 text-center">
                <%= user.created_at.strftime("%B %d, %Y %H:%M") %>
              </td>
              <td class="py-3 px-6 text-center">
                <%= user.posts.count %>
              </td>
              <td class="py-3 px-6 text-center">
                <%= user.comments.count %>
              </td>
              <td class="py-3 px-6 text-center">
                <% if user.suspended? %>
                  <% if user.suspended_until %>
                    Until : <%= user.suspended_until.strftime("%B %d, %Y %H:%M") %>
                  <% else %>
                    Indefinite
                  <% end %>
                <% else %>
                  No
                <% end %>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <%= link_to 'Edit', edit_admin_user_path(user), class: "text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline" %>
                  <%= link_to 'Delete', admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline ml-2" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <!-- Admins Table -->
  <div class="mt-10 overflow-x-auto bg-white p-6 rounded-lg shadow">
    <h2 class="text-3xl font-bold text-gray-800 mb-4">Admins</h2>
    <div>
      <a href="#" data-action="admin-sorting#sort" data-table-type="admins" data-sorting-key="admin_date_asc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Date Asc</a>
      <a href="#" data-action="admin-sorting#sort" data-table-type="admins" data-sorting-key="admin_date_desc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Date Desc</a>
      <a href="#" data-action="admin-sorting#sort" data-table-type="admins" data-sorting-key="admin_email_asc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Email Asc</a>
      <a href="#" data-action="admin-sorting#sort" data-table-type="admins" data-sorting-key="admin_email_desc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded">Email Desc</a>
  </div>
    <div class="overflow-x-auto bg-white p-6 rounded-lg shadow" id="admins_table" data-sorting-target="table">
      <table class="min-w-full table-auto">
        <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
          <tr>
            <th class="py-3 px-6 text-left">ID</th>
            <th class="py-3 px-6 text-left">Email</th>
            <th class="py-3 px-6 text-center">Account Created On</th>
            <th class="py-3 px-6 text-center">Actions</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
          <% @admins.each do |admin| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <%= admin.id %> <!-- New ID Field -->
              </td>
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <%= link_to admin.email, [:admin, admin], class: "text-blue-600 hover:underline" %>
              </td>
              <td class="py-3 px-6 text-center">
                <%= admin.created_at.strftime("%B %d, %Y %H:%M") %>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <%= link_to 'Edit', edit_admin_user_path(admin), class: "text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline" %>
                  <%= link_to 'Delete', admin_user_path(admin), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline ml-2" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Moderator Table -->
  <div class="mt-10 overflow-x-auto bg-white p-6 rounded-lg shadow">
    <h2 class="text-3xl font-bold text-gray-800 mb-4">Moderator</h2>
    <div>
      <a href="#" data-action="admin-sorting#sort" data-table-type="moderators" data-sorting-key="moderator_date_asc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Date Asc</a>
      <a href="#" data-action="admin-sorting#sort" data-table-type="moderators" data-sorting-key="moderator_date_desc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Date Desc</a>
      <a href="#" data-action="admin-sorting#sort" data-table-type="moderators" data-sorting-key="moderator_email_asc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Email Asc</a>
      <a href="#" data-action="admin-sorting#sort" data-table-type="moderators" data-sorting-key="moderator_email_desc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded">Email Desc</a>
  </div>
    <div class="overflow-x-auto bg-white p-6 rounded-lg shadow" id="moderators_table" data-sorting-target="table">
      <table class="min-w-full table-auto">
        <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
          <tr>
            <th class="py-3 px-6 text-left">ID</th>
            <th class="py-3 px-6 text-left">Email</th>
            <th class="py-3 px-6 text-center">Account Created On</th>
            <th class="py-3 px-6 text-center">Actions</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
          <% @moderators.each do |moderator| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <%= moderator.id %> <!-- New ID Field -->
              </td>
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <%= link_to moderator.email, [:admin, moderator], class: "text-blue-600 hover:underline" %>
              </td>
              <td class="py-3 px-6 text-center">
                <%= moderator.created_at.strftime("%B %d, %Y %H:%M") %>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <%= link_to 'Edit', edit_admin_user_path(moderator), class: "text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline" %>
                  <%= link_to 'Delete', admin_user_path(moderator), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline ml-2" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Writers Table -->
  <div class="mt-10 overflow-x-auto bg-white p-6 rounded-lg shadow">
    <h2 class="text-3xl font-bold text-gray-800 mb-4">Writers</h2>
    <div>
      <a href="#" data-action="admin-sorting#sort" data-table-type="writers" data-sorting-key="writer_date_asc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Date Asc</a>
      <a href="#" data-action="admin-sorting#sort" data-table-type="writers" data-sorting-key="writer_date_desc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Date Desc</a>
      <a href="#" data-action="admin-sorting#sort" data-table-type="writers" data-sorting-key="writer_email_asc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Email Asc</a>
      <a href="#" data-action="admin-sorting#sort" data-table-type="writers" data-sorting-key="writer_email_desc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded">Email Desc</a>
    </div>
    <div class="overflow-x-auto bg-white p-6 rounded-lg shadow" id="writers_table" data-sorting-target="table">
      <table class="min-w-full table-auto">
        <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
          <tr>
            <th class="py-3 px-6 text-left">ID</th>
            <th class="py-3 px-6 text-left">Email</th>
            <th class="py-3 px-6 text-center">Account Created On</th>
            <th class="py-3 px-6 text-center">Actions</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
          <% @writers.each do |writer| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <%= writer.id %> <!-- New ID Field -->
              </td>
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <%= link_to writer.email, [:admin, writer], class: "text-blue-600 hover:underline" %>
              </td>
              <td class="py-3 px-6 text-center">
                <%= writer.created_at.strftime("%B %d, %Y %H:%M") %>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <%= link_to 'Edit', edit_admin_user_path(writer), class: "text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline" %>
                  <%= link_to 'Delete', admin_user_path(writer), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline ml-2" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Suspended Users Table -->
  <div class="mt-10 overflow-x-auto bg-white p-6 rounded-lg shadow">
      <h2 class="text-3xl font-bold text-gray-800 mb-4"><span><%= @suspended_users.count %></span> Suspended Users</h2>
      <div>
        <a href="#" data-action="admin-sorting#sort" data-table-type="suspended" data-sorting-key="suspended_date_asc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Date Asc</a>
        <a href="#" data-action="admin-sorting#sort" data-table-type="suspended" data-sorting-key="suspended_date_desc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Date Desc</a>
        <a href="#" data-action="admin-sorting#sort" data-table-type="suspended" data-sorting-key="suspended_email_asc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded mr-2">Email Asc</a>
        <a href="#" data-action="admin-sorting#sort" data-table-type="suspended" data-sorting-key="suspended_email_desc" class="text-sm bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded">Email Desc</a>
    </div>
      <div class="overflow-x-auto bg-white p-6 rounded-lg shadow" id="suspended_table" data-sorting-target="table">
          <table class="min-w-full table-auto">
              <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                  <tr>
                      <th class="py-3 px-6 text-left">ID</th>
                      <th class="py-3 px-6 text-left">Email</th>
                      <th class="py-3 px-6 text-center">Account Created On</th>
                      <th class="py-3 px-6 text-center">Suspension End Date</th>
                      <th class="py-3 px-6 text-center">Actions</th>
                  </tr>
              </thead>
              <tbody class="text-gray-600 text-sm font-light">
                  <% @suspended_users.each do |user| %>
                      <tr class="border-b border-gray-200 hover:bg-gray-100">
                          <td class="py-3 px-6 text-left whitespace-nowrap"><%= user.id %></td>
                          <td class="py-3 px-6 text-left whitespace-nowrap"><%= link_to user.email, [:admin, user], class: "text-blue-600 hover:underline" %></td>
                          <td class="py-3 px-6 text-center"><%= user.created_at.strftime("%B %d, %Y %H:%M") %></td>
                          <td class="py-3 px-6 text-center">
                            <% if user.suspended_until %>
                              <%= user.suspended_until.strftime("%B %d, %Y %H:%M") %>
                              <div data-controller="ban-countdown"
                                  data-ban-countdown-time-value="<%= user.suspended_until.to_i %>"
                                  data-ban-countdown-target="time">
                                <!-- This will be filled by the countdown -->
                              </div>
                            <% else %>
                              Indefinite
                            <% end %>
                          </td>
                          <td class="py-3 px-6 text-center">
                              <div class="flex item-center justify-center">
                                  <%= link_to 'Unsuspend', unsuspend_admin_user_path(user), data: { turbo_method: :patch, turbo_confirm: 'Are you sure you want to lift this user\'s suspension?' }, class: "text-sm bg-green-500 hover:bg-green-700 text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline" %>
                            </div>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
  </div>

</div>
